import { createEventsServerEventLogger } from "./server_events.js";

class PrintLogger {
  write(msg) {
    console.log(msg);
  }
}

let logger = new PrintLogger;

let logger_options = {
  app: "glean-test",
  fmt: 'pretty',
  stream: logger,
};

let gleanEventLogger = createEventsServerEventLogger({
  applicationId: "glean.test",
  appDisplayVersion: "0.0.1",
  channel: "testing",
  logger_options
});
gleanEventLogger.recordBackendObjectUpdate({
  user_agent: 'glean-test/1.0',
  ip_address: '2a02:a311:803c:6300:4074:5cf2:91ac:d546',
  identifiers_fxa_account_id: 'abc',
  object_type: 'unknown',
  object_state: 'great',
});
