import { createAccountsEventsEvent } from ".//* IMPORT */";

class StringLogger {
  constructor() {
    this._buffer = "";
  }

  write(msg) {
    this._buffer += msg;
  }

  get() {
    return this._buffer;
  }
}

let string_logger = new StringLogger;

let logger_options = {
  app: "glean-test",
  fmt: 'pretty',
  stream: string_logger,
};
let events = /* FACTORY */({
  applicationId: "glean.test",
  appDisplayVersion: "0.0.1",
  channel: "testing",
  logger_options
});

/* CODE */

let buf = string_logger.get();
let log = JSON.parse(buf);
console.log(log.Fields.payload);
