import { /* FACTORY */ } from ".//* IMPORT */";

class PrintLogger {
  write(msg) {
    console.log(msg);
  }
}

let logger = new PrintLogger;

let logger_options = {
  app: "glean-test",
  fmt: 'pretty',
  stream: logger,
};
let eventLogger = /* FACTORY */({
  applicationId: "glean.test",
  appDisplayVersion: "0.0.1",
  channel: "testing",
  logger_options
});

/* CODE */
