package main

import (
  "glean/glean"
)

func main() {
  logger := glean.GleanEventsLogger{
    AppID:             "glean.test",
    AppDisplayVersion: "0.0.1",
    AppChannel:        "nightly",
  }

  /* CODE */
}
